@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --light-blue: 69, 226, 250;
  --blue: 32, 88, 162;
  --dark-blue: 20, 49, 82;
  --gray: 96, 101, 117;
  --dark-gray: 42, 46, 59;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
